body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: navy;
  color: white;
  padding-left: 10px;
  height: 8vh;
}

.div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  background-color: navy;
}

.div-header a {
  text-decoration: none;
  color: white;
  background-color: navy;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.home-bills-container a {
  text-decoration: none;
  color: white;
  background-color: navy;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.div-header a:hover, .home-bills-container a:hover, .submit:hover {
  background-color: white;
  color: navy;
}


.home {
  background: url("./images/image.jpg") darkgray;
  background-blend-mode: lighten;
  height: 100vh;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.settings-header {
  text-align: center;
}

.settings-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  height: 100vh;
}

@media (min-width: 1200px) {
.form-container {
  width: 1170px;
}
}

@media (min-width: 992px) {
.form-container {
  width: 970px;
}
}

@media (min-width: 768px) {
  .form-container {
    width: 750px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control {
  height: 20px;
  padding: 6px 6px;
  font-size: 14px;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  padding: 10px 0px;
}

.submit, .signup {
  background-color: navy;
  color: white;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  letter-spacing: 2px;
  font-weight: bold;
}

.form-group-forgot {
  display: flex;
  justify-content: flex-end;
  color: red;
}

.home-container {
  background-color: lightgrey;
  height: 92vh;
}

.home-inner-container {
  display: flex;
  justify-content: center;
  height: 85%;
}

.home-inner-container div {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.home-container-group {
  text-align: center;
  margin: 10px; 
}

.developer {
  border-radius: 3px;
}

.home-container-group-h4 {
  color: navy;
}

.home-bills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-bills-container div {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

Link {
  text-decoration: none;
}

.addbill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92vh;
}

.body-container {
  background-color: lightgray;
  height: 100vh;
  
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  height: 92vh;
}

.display-container {
  justify-content: center;
  margin-top: 40px;
  width: 90%;
}

th, td {
  width: 150px;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
}

th {
  background-color: skyblue;
  color:black;
}

table {
  border-collapse: collapse;
}

.modify {
  width: 75px;
}

.modify a {
  text-decoration: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  height: 92vh;
}

.contact-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.contact-fill-details {
  width: 40% ;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid navy;
  border-radius: 5px;
}

.contact-check-details {
  background-color: navy;
  color: white;
  width: 40% ;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid navy;
  border-radius: 5px;
}

.contact-input-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  height: 70vh;
}

.contact-label-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  justify-content: center;
  height: 70vh;
}

.contact-input {
  height: 20px;
  padding: 6px 6px;
  font-size: 14px;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px; 
  margin: 14px 0px;
}

.contact-label {
  padding: 6px 6px;
  margin: 10px 0px;  
}


.bill-header {
  text-align: center;
}

.bill-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  height: 100vh;
}